<launch>

####DEFINE ARGUMENTS####

  <!--NUMBER OF ROBOTS-->
  <arg name="N" default="4" />  

  <!--FOLDER DIRECTORIES-->
  <arg name="folderconfig" default="$(eval '$(find nexus_encrypted_control)config')" /> 
  <arg name="folderlaunch" default="$(eval '$(find nexus_encrypted_control)launch')" />
  <arg name="foldergaz" default="$(eval '$(find nexus_encrypted_control)gazebo')" />

  
  <!-- these are the arguments you can pass to this launch file, for example paused:=true -->
  <arg name="sim" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/> <!--Show or not the Gazebo GUI-->
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!--Arguments for Nexus robots in the lab-->
  <arg name="nexusport" default="/dev/ttyUSB.nexus" />
  <arg name="armport" default="/dev/ttyUSB.arm" />

  <!--Arguments for N agents-->
  <arg name="pre" default="$(eval 'n_'+str(arg('N')))" /> <!--determines the prefix to add to each initialized nexus agent (e.g. n_1)-->
  <arg name="Ntotal" default="$(arg N)" /> <!--Used to recursively initialize agents-->


####LAUNCH NEXUS ROBOTS####
  
  <!-- Initialize each agents' nodes and parameters-->
  <group ns="$(arg pre)">

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg folderconfig)/robot/robot_base_multiple.xacro' prefix:=$(arg pre)" />
    
    <node name="nexus" pkg="nexus" type="nexus_driver" output="screen" clear_params="true">
      <rosparam file="$(find nexus)/config/nexus.yaml" command="load" />
      <param name="sim" value="$(arg sim)" />
      <param name="port" value="$(arg nexusport)" />
      <param name="namespace" value="$(arg pre)" />  <!-- for the frames --> 
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="publish_frequency" type="double" value="20.0" />
    </node>

  </group>

 
  <!-- Recursively call N_nexus.launch to start as many robots as the arg "N" says -->
  <include file="$(arg folderlaunch)/N_nexus.launch" if="$(eval arg('N') - 1 > 0)">
      <arg name="Ntotal" value="$(arg Ntotal)"/>
      <arg name="N" value="$(eval arg('N') - 1)"/>
  </include> 

####GAZEBO LAUNCH#####

  <!-- THIS LAUNCHES THE GAZEBO WORLD FILE FOR ALL ROBOTS -->
  <include file="$(arg folderlaunch)/Spawn_N_agents_gazebo.launch" if="$(eval arg('N') == 1)">
      <arg name="N" value="$(arg Ntotal)"/>
      <arg name="foldergaz" value="$(arg foldergaz)" />
      <arg name="world_name" value="$(arg foldergaz)/worlds/nexus.world"/>
      <arg name="debug" value="$(arg debug)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="headless" value="$(arg headless)"/>
  </include>
  


</launch>
